<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>JAK</Name>
    <Version>1.0.0</Version>
    <Title>Instalator JAK</Title>
    <Publisher>MAC300</Publisher>
    <StartMenuDir>JAK</StartMenuDir>
    <TargetDir>@HomeDir@/JAK</TargetDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <RemoteRepositories>
        <Repository>
            <Url>https://github.com/mac300/jak_win_repo</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
